<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johndon.cmcc.util.childnews">

    <application
        android:allowBackup="true"
        android:icon="@drawable/child_icon"
        android:label="@string/app_title"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label"
        android:roundIcon="@drawable/child_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.johndon.cmcc.util.childnews.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.johndon.cmcc.util.childnews.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>